<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!-- Logstash로 로그 전송 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5002</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <pattern>
                    <pattern>{"serviceID":"${hostName}"}</pattern>
                </pattern>
                <timestamp/>
                <threadName/>
                <loggerName/>
                <logLevel/>
                <message/>

                <!-- 예외 정보를 여기서 제공 (버전에 따라 태그 이름이 다를 수 있음) -->
                <stackTrace/>
            </providers>

            <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames"/>
            <!--<jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>-->
        </encoder>
    </appender>


</included>
