input {
  tcp {
    port => 8080
    codec => json_lines {
      target => "json"
    }
  }
}

filter {
  aggregate {
    task_id => "%{traceId}"
    code => "
      map['logs'] ||= [];
      map['logs'] << event.to_hash;
      if event.get('error_traceId')
        map['error_occurred'] = true;
      end;
      event.cancel();
    "
    push_map_as_event_on_timeout => true
    timeout => 10
    timeout_code => "
      if map['error_occurred']
        # 정렬된 logs를 최종적으로 이벤트로 설정
        map['logs'] = map['logs'].sort_by { |log| log['@timestamp'] }
        event.set('logs', map['logs']);
      else
        event.cancel();
      end
    "
  }
}

output {
  if [error_occurred] {
    elasticsearch {
      hosts => ["elasticsearch:9200"]
      index => "error-logs-%{+YYYY.MM.dd}"
      # document_type을 제거합니다.
    }
  }
  stdout {
    codec => rubydebug
  }
}