input {
  tcp {
    port => 5001
    codec => json
  }
}

filter {
  # error_traceId가 있는 경우 해당 traceId를 필터링
  if [error_traceId] {
    mutate {
      add_field => { "collectAllLogs" => "true" }
    }
  }
}

output {
  # collectAllLogs가 true인 경우만 Elasticsearch에 저장
  if [collectAllLogs] == "true" {
    elasticsearch {
      hosts => ["http://localhost:9200"]
      index => "error-logs-%{+YYYY.MM.dd}"
    }
  }
}
